/* .bookmark{
    position: absolute;
    width: 5rem;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;
  } */