.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
    padding: 1rem;
    height: vmax;
    margin-top: 9rem;
}

@media screen and (max-width: 1200px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    }

}

@media screen and (max-width: 900px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    }

}

@media screen and (max-width: 600px){
    .grid{
        
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
   
       
      
        margin-top: 5rem;
        padding: 0;

    }
    .grid.card{
        margin-left: 3rem;
    }
}