.info-container {
  position: relative;
  margin-top: 9rem;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.1;
  font-weight: 900;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
  width: 300px;
}
.details {
  left: 9rem;
  top: 27rem;
  position: absolute;
  
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #fff;
}
.infoRow {
  display: flex;
  flex-direction: row;
  
}
.bookmarking{
  position: absolute;
  width: 5rem;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: space-around;
}
.bookmak{
border: 1px solid black;
padding: .2rem;
margin: 0;
width: 3rem;
height: 3.3rem;
border-radius: .3rem;
background-color: rgb(248, 196, 196);
}
svg{
  color: #FF005C;
 
}
.imgDiv{
  width: 100%;
  height: 500px;
  opacity: .6;
}
.movieImg{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  
}
.factors{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: .4rem;
  color: #fff;
}
.infoButton{
    align-self: center;
    width: 8rem;
}
.infobuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plot{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: .6rem;
}

@media screen and (max-width: 700px) {
  .infoRow{
    flex-direction: column;
  }
  .movieImg{
    margin-inline: auto;
  }
  .details{
    left: 1rem;
    font-size: 14px;
  }
  h3{
    font-size: .6rem;
  }
}
.details1{
  display: flex;
  flex-direction: column;
}
.tippyClass{
  color: #fff;
 
}
