.moviesearch{
  position: relative;
  margin-top: 9rem;
  background-color: #141E27;
  width: 100%;
}
.search-icon{
    position: absolute;
    margin-top: 1rem;
    margin-left: .4rem;
}
.moviesearch input{
    padding: 1rem 2rem;
    width: 100%;
}

@media screen and (max-width: 600px) {
  .moviesearch{
    margin-top: 3rem;
  }
}